.lv-container {
   height: 100vh;
}

#slider {
   width: 80%;
   max-width: 800px;
   height: 300px;
}

#slider-right {
   position: relative;
}

.item {
   display: none;
   position: relative;
}

.text-over-img {
   padding: 0 20px;
   position: absolute;
   bottom: 20px;
   text-align: right;
   color: #fff;
}

.item.active {
   display: block;
}

.item img,
.item-mini img {
   width: 100%;
   object-fit: cover;
}

.item img {
   height: 300px;
}

.item-mini {
   height: calc(300px / 5);
}

.item-mini img {
   height: 100%;
}

.item-mini.active img {
   border: 2px solid #fff;
}

.up_arrow, .down_arrow {
   padding: 2px 10px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   background-color: rgba(255, 255, 255, .6 );
   border-radius: 50%;
   cursor: pointer;
   transition: background-color 0.25s;
}

.up_arrow:hover,
.down_arrow:hover {
   background-color: rgba(255, 255, 255, 1);
}

.up_arrow {
   top: 4px;
}
.down_arrow {
   bottom: 4px;
}